{% load static %}
<!DOCTYPE html>


<html lang=en>


    <head>


        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <meta name="author" content="Jace Lieto">

        <title>About Me</title>


        <link rel="stylesheet" href="{% static 'core/style.css' %}">
    </head>
<nav>
    <ul>
        <li><a href="/blackbox">Black Box</a></li>
        <li><a href="/screenprint">Screen Print </a></li>
    </ul>
</nav>
<h1>About Me</h1>

<p>Have you ever watched a water polo game? My name is Jace Lieto, I am in 9th grade and I live in East Haven, CT. One thing I like to do is play water polo. In the future, I want to play D1 water polo. For the last two summers, I went to the Junior Olympics in Texas. I also like math. Right now, I am in pre-calc, and my major in college is undecided.Lastly, I love my two dogs. I like to take them on walks, play fetch with them, and most of all, snuggle with them. I am kind, determined, and confident. These are things that make me… me.
</p>
<img src="{% static 'core/water_polo.jpg' %}" alt= "Person Playing Waterpolo" width="300">
<img src="{% static 'core/pre_calculus.jpg' %}" alt= "Pre Calculus" width="300">
