{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>

<h1>Black Box investgation</h1>
<img src="working.jpg" alt= "Working on the model" width="500">
<h2>Introduction<h2/> 
<p>In our New Media and Tech class we were assigned to investigate a Black box. We made another box on what we thought was in this black box.When you pour water into the box it either outputs more,less, or the same amount of water. This box had few intresting qualites which made this project hard.</p>
<h3>Claim</h3>
<p>We believe that there are 2 containers with a bucket that goes into a draining system.<p>
<h3>Evidence</h3>
<p>The water took a while to come out and sometimes didn't come out at all. It made a dripping sound when pouring water through a funnel. Also sometimes more water came out then put in. This also happened the other way around meaning less water came out then put in.

Are model is similar. Are model had more water drip out then put in but didnt output less water then put in only the same or less. It has the dripping sound from the normal box. SO I think are model was a good match. Also water did spill so more could have came out.
</p>
<h3>Reasoning, Part I</h3>
<p>Our model uses the bucket to hold extra water to come out and also water not to come out at all.</p>
<h3>Reasoning, Part II</h3>
<p>The dripping water sound was water dripping into bucket this explains why we heard a sound when pouring the water because of the drop</p>
<h3>Reasoning, Part III</h3>
<p>Some people may say that it is just a tube in the box but that doesn’t explain why more water comes out then you put in and the other way around. <p>

<p> These are the data we collected from both models. The first one is the oringnal the second is our model.</p>

<table>
  <tr>
    <th>Trial </th>
    <th>Amount of water put in</th>
    <th>Amount of water that came out</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000ml</td>
    <td>0ml</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000</td>
    <td>2200</td>
  </tr>
 <tr>
    <td>3</td>
    <td>1000ml</td>
    <td>530ml</td>
  </tr>
 <tr>
    <td>4</td>
    <td>1000ml</td>
    <td>1700ml</td>
  </tr>
</table>
<table>
 <tr>
    <td>Trial</td>
    <td>Amount of water put in</td>
    <td>Amount of water that came out</td>
  </tr>
 <tr>
    <td>1</td>
    <td>660ml</td>
    <td>660ml</td>
  </tr>
 <tr>
    <td>2</td>
    <td>300ml</td>
    <td>290ml</td>
  </tr>
 <tr>
    <td>3</td>
    <td>200ml</td>
    <td>500ml</td>
  </tr>
 <tr>
    <td>4</td>
    <td>350ml</td>
    <td>300ml</td>
  </tr>

</table>


<a href="https://objects.mergeedu.com/link/P4W8K2?authuser=0">See our model in 3D</a>
<p>Or you can scan the QR code:<p>
<img src="QRcode.jpg" alt= "QR code">
<p>This is my 3D model with max settings one from the fron,right, and left</p>
<img src="front.jpg" alt= "Front picture of model" width="250">
<img src="right.jpg" alt= "Right Picture of model" width="250">
<img src="left.jpg" alt= "Left picture of model" width="250">
<p>This is the oringnal Black box</p>
<img src="BlackBox.jpg" alt= "Oringnal Black Box" width="300">
<img src="ourblack.jpg" alt= "Our Black Box" width="300">
<p> This me expiermenting with The Oringnal Black Box </p>
<img src="pouringwater.jpg" alt= "Expiermenting with The Oringnal Black Box" width="300">
<h2>Reflecting</h2>
<p>This process taught me lot of things like how to use tape effectivily and use a program called Maya. We started with just cubes and cylinders and then our teacher taught us how make those shapes into a model and these are skills that I can use in different parts of life. I think we could have done better on the build of the model but it still works. Thank you for reading!</p>
  </body>
</html>
